<template>
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Add User</h3>
         </div>
         <div class="panel-body">
            <form>
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text"  placeholder="Name" v-model="name">
               </div>
               <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" placeholder="Email" v-model="email">
               </div>
               <button type="submit" class="btn">Submit</button>
            </form>
         </div>
      </div>
      <div class="form-group">
         <div>
            My Name is : {{ name }}
            <br>
            My Email is : {{ email }}
         </div>
      </div>
   </div>
</template>

<script>
   export default {

   data () {
      return {
           name: '',
           email: ''
      }
   }
}
</script>
<style>
div.form-group{
    margin-top: 15px;
}
button.btn{
    margin-top: 15px;
}
</style>
